* {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#popup-content {
  width: 500px;
  height: 300px;
  text-align: center;
  background-color: #151117
}

#popup-content > span {
  top: 15px;
  color: #fff;
  position: relative;
}

#equalizer {
  width: 100%;
  height: 95%;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-evenly;
}

.equalizer-bar {
  color: #fff;
  width: 25px;
  height: 200px;
  display: flex;
  overflow: visible;
  position: relative;
  align-items: flex-end;
  flex-direction: column;
  justify-content: space-evenly;
}

.equalizer-bar > div {
  left: 8px;
  bottom: 0;
  width: auto;
  display: flex;
  overflow: visible;
  position: relative;
  text-align: center;
  flex-direction: column;
}

.reset-all-btn {
  left: 50%;
  bottom: 10px;
  width: auto;
  position: absolute;
  transform: translateX( -50% );
}

input[type="range"] {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  
  border-radius: 5px;
  background: rgba( 0, 0, 0, 0 );
}

#chartdiv {
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba( 0, 0, 0, 0) ;
}